<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Rango</title>
    </head>
    <a href="/rango/add_category/">Add a New Category</a><br />
    <body>
        <h1>Rango says let's rock IT</h1>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="/rango/category/{{ category.slug }}"> {{ category.name }} </a> </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong> no categories present.</strong>
        {% endif %}

        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}"> {{ page.title }} </a> </li>
                {% endfor %}
            </ul>
        {% endif %}
        <a href="/rango/about/">About</a><br />
    <img src="{% static "images/reddit.png" %}" alt="picture of rango"/>
    </body>
</html>